body{
    font-family: 'lato', 'sans-serif';
    margin: 0;
    position: relative;
    min-height: 74.1%;
    padding-bottom: 350px;
}
html {
	height: 100%;
}

/*
color orange : #FFA100
color blue : #0061A1
*/

/* balise de bases */ 

h1{
	text-align: center;
	width: auto;
}


h1 u{
	color: #FFA100;
	text-decoration: none;
	border-bottom: solid 2px #0061A1;
	width: auto;
}
/* -------------- */

.widthh{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

header{
    height: 100px;
    background-color: #e5E5E5E5;
}

.header_span {
	margin-top: 10px;
    color: #0061A1;
    padding: 2px 10px;
    font-weight: 500;
    font-size: 26px;
}

.isAdmin{
	display: inline-block;
	color: #0061A1;
    font-weight: 500;
    font-size: 29px;
    margin-left: 90px;
    position: relative;
    bottom: 25px;
}

.header_button{
    margin-top: 34px;
    float: right;
    background-color: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    padding: 2px 10px;
}

.header_button_logout{
    background-color: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    padding: 2px 10px;
    position: relative;
    width: 100px;
}

.header_co {
	display: inline-block;
	float: right;
}

.deco_name {
	position: relative;
	right: 12px;
	width: 50px;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding-right: 65px;
	width: 122px;
}

.compte {
	display: inline-block;
	text-align: center;
	padding-left: 34px;
}

.compte a{
	background-color: #FFA100;
	border: #0061A1 solid 1px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	padding: 2px 10px;
	position: relative;
	bottom: 30px;
}

.header_span_autre {
	float: right;
    top: 36px;
    position: relative;
    left: 129px;
    margin-top: 10px;
    color: #0061A1;
    padding: 2px 10px;
    font-weight: 500;
    font-size: 26px;
}

.logout {
	float: right;
    margin-top: 13px;
    background-color: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    padding: 2px 10px;
    position: relative;
    width: 100px;
}

/* page d'accueil */

.logo{
    display: inline-block;
    padding-top: 0;
    margin-top: 20px;
}


.acc_gauche {
    display: inline-block;
    width: 49%;
    background-image: url("images/Image_Pres.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 470px;
    margin-top: 30px;
}

.acc_droite {
    display: inline-block;
    width: 45%;
    text-align: justify;
    color: #0061A1;
    position: relative;
    bottom: 53px;
    margin-left: 10px;
}



.block1{
    border: #0061A1 solid 2px;
    border-radius: 10px;
    padding: 30px;
}

.div_form{
    background: #e5E5E5E5;
    border-left: solid  #FFA100 8px;
    height: 70px;
    margin-top: 20px;
    color: #fff;
}

input::placeholder {
	color: #fff;
}

.question {
    padding-top: 20px;
    color: #0061A1;
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
}

.form_metier{
    float: right;
    display: inline-block;
    margin-right: 110px;
    padding-top: 20px;
}

.metier_sel{
    background: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 2px 10px;
        width: 250px;
}
.par1 {
    width: auto;
    text-align: justify;
    margin-top: 20px;
}

.acc_gau{
    display: inline-block;
    width: 46%;
    padding-right: 10px;
}

h3{
    text-align: center;
    border-bottom: solid #FFA100 2px;
    font-size: 23px;
    color: #0061A1;
}
.acc_dro{
    display: inline-block;
    width: 46%;
    padding-left: 10px;
}

.parcours{
    background-color: #FFA100;
    width: 100%;
    color: #fff;
    font-size: 23px;
    margin: 10px;
    padding: 8px;
    bottom: 50px;
    position: relative;
}

/* page de connexion */

.form_co {
	text-align: center;
}

.div_form label {
	font-size: 23px;
	font-family: 'lato', 'sans-serif';
    color: #0061A1;
    padding-top: 23px;
    display: inline-block;
}

.div_form input {
	background: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 2px 10px;
    margin-left: 150px;
}

.connexion button {
    margin-top: 30px;
    background-color: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 15px;
    color: #fff;
    font-size: 1.8em;
    padding: 5px 20px;
}


/* ---- Page choix du questionnaire ---- */

.choix_questionnaire {
	text-align: center;
	background: #e5E5E5E5;
    border-left: solid  #FFA100 8px;
    height: 100px;
    margin-top: 50px;
}

.choix_questionnaire2 {
	text-align: center;
	background: #e5E5E5E5;
    border-left: solid  #FFA100 8px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.choix_questionnaire2 a {
	padding-top: 26px;
    color: #0061A1;
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;

}

.choix_questionnaire a {
	padding-top: 22px;
    color: #0061A1;
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
}

/* ---------- */

/* Accueil Admin */
#choix_onglet ul li 
{
    display:inline-block;
    height:40px;
    text-align:center;
    line-height: 22px;
    border: 1px solid #FFA100;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;	
    background:#F0F0F0;
    width: 32.9%;
}

#choix_onglet ul 
{
	padding: 0;
}

#choix_onglet ul li p
{
	font-size: 20px;
	font-weight: 500;
	color: #0061A1;
	position: relative;
	bottom: 10px;
}

.tabpanel {
	display: block;
}

.form_admin {
	background: #e5E5E5E5;
	border: solid #FFA100 3px;
	height: 35px;
	margin-top: 20px;
	color: #fff;
	width: 434px;
	text-align: center;
	border-radius: 8px;
	margin-left: 83px;
	margin-top: 30px;
}

.form_admin input {
	background: none;
	border: none;
	color: #0061A1;
	font-size: 17px;
	margin-top: 6px;
	font-weight: 500;
}

.button_supp{
	background: #e5E5E5E5;
	border: solid #0061A1 3px;
	height: 35px;
	margin-top: 20px;
	color: #fff;
	width: 272px;
	text-align: center;
	border-radius: 8px;
	margin-left: 100px;
	margin-top: 30px;
	left: 403px;
    position: relative;
    bottom: 60px;
}

.button_supp p{
	color: #FFA100;
	font-size: 17px;
	margin-top: 6px;
	font-weight: 500;
}

/* ----------- */

/* resultat questionnaires */

#choix_resultat ul li 
{
    display:inline-block;
    height:40px;
    text-align:center;
    line-height: 22px;
    border: 1px solid #FFA100;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;	
    background:#F0F0F0;
    width: 49.9%;
}

#choix_resultat ul 
{
	padding: 0;
}

#choix_resultat ul li p
{
	font-size: 20px;
	font-weight: 500;
	color: #0061A1;
	position: relative;
	bottom: 10px;
}

.tab {
	display: block;
}

.form_admin p {
	background: none;
	border: none;
	color: #0061A1;
	font-size: 17px;
	margin-top: 6px;
	font-weight: 500;
}

.s	core {
	background: #e5E5E5E5;
	border: solid #0061A1 3px;
	height: 35px;
	margin-top: 20px;
	color: #fff;
	width: 272px;
	text-align: center;
	border-radius: 8px;
	margin-left: 100px;
	margin-top: 30px;
	left: 403px;
    position: relative;
    bottom: 60px;
}

.score p {
	color: #FFA100;
	font-size: 17px;
	margin-top: 6px;
	font-weight: 500;
}

/* ----------- */

/* questionnaires */

.questionnaire {
	text-align: center;
	background: #e5E5E5E5;
    border-left: solid  #FFA100 8px;
    height: 60px;
    margin-top: 50px;
    margin-right: 135px;
    margin-left: 135px;
}

.questionnaire label {
	position: relative;
	top: 15px;
	font-size: 22px;
	color: #0061A1;
}

.questionnaire input {
	position: relative;
	top: 19px;
	float: right;
	right: 50px;
}

.questionnaire_button {
	margin-top: 40px;
    background-color: #0061A1;
    border: #0061A1 solid 1px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    padding: 2px 10px;
    position: relative;
    margin-right: auto;
	margin-left: auto;
	display: block;   
}

.legende_echelle {
	position: relative;
    left: 167px;
    top: 15px;
    font-size: 11px;
    color: #FFA100;
}
.span1 {
	position: relative;
	bottom: 39px;
}

.span2 {
	position: relative;

    left: 16px;
}

.span3 {
	position: relative;
    left: 47px;
    bottom: 39px;
}
/* ----------- */

/* footer */

footer {
    height: 230px;
    background-color: #0061A1;
    margin-top: 20px;
    bottom: 0;
    display: block;
    width: 100%;
    position: absolute;

}

a {
    color: #fff;
    text-align: center;
    font-size: 60px;
    display: block;
    padding-top: 40px;
    text-decoration: none;
}

.txt_footer{
    color: #fff;
    font-size: 16px;
    text-align: center;

}