<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 Bienvenue <p  th:text="${session.loggedInUser.getName()}" th:unless="${session == null}"/>
 

 <form  action="modifyMajor" method="post" th:each="major : ${session.majors}"  >
 
 	<input type="hidden" th:value="${major.getID()}" name="majorSelected"/>
 	<input type="submit" th:value="${major.getName()}"/>
 
 </form>
 
 
 <a class="header_button" th:href="@{/addMajor}" >Ajouter un parcour</a>
</body>
</html>