<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title>Ajouter Module</title>
</head>
<body>

	<header th:if="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <p th:if="${session.isAdmin}" class="isAdmin">Page Administrateur</p>
	        <div class="header_co">
		        <div class="deco_name">
			        <a class="header_button_logout" th:href="@{/logOut}">Deconnexion</a>
			        <p class="header_span" th:text="${session.username}" ></p>
		        </div>
		 
		        <div class="compte">
		        	<div th:if="${session.isAdmin}">
		        		<a th:href="@{/AccueilAdmin}">mon compte</a>
		        	</div>
		        	<div th:unless="${session.isAdmin}">
		        		<a th:href="@{/choixquestionnaire}">mon compte</a>
		        	</div>
		        </div>
	        </div>
		</div>
	</header>
	
	<header th:unless="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <a class="header_button" th:href="@{/login}" >Connexion</a>
	    </div>
	</header>
	<div class="widthh">
		<form class="connexion" action='addModule' method="post">
			<div class="div_form">
				<label> Nom du Module :</label> <input type="text" id="name"
					name="name" placeholder="Nom" class="form-control">
			</div>
			<div class="div_form">
				<label> Description du module :</label> <input type="text" id="description"
					name="description" placeholder="Description" class="form-control">

			</div>
			<button id="loginButton">Ajouter le module</button>
		</form>
	</div>
	
	<footer>
	    <div class="widthh">
	        <a href="https://www.isep.fr"> www.isep.fr</a>
	        <p class="txt_footer">28 rue Notre-Dame des Champs - 75006 Paris</br> 10, rue de Vanves. 92139 Issy-les -Moulineaux</br>Standard: +33 49 54 52 00 6Informations : +33 (0)1 49 54 52 43 -info@isep.fr</p>
	    </div>
	</footer>
</body>
</html>