<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="connexion" action='addMajor' method="post">
				<div class="div_form">
					<label> Nom du parcours :</label> <input type="text" id="name"
						name="name" placeholder="Nom" class="form-control">
				</div>
				<div class="div_form">
					<label> Description du parcours :</label> <input type="text" id="description"
						name="description" placeholder="Description" class="form-control">

				</div>
				<button id="loginButton">Ajouter le parcours</button>


			</form>
</body>
</html>