<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Choix du questionnaire</title>
</head>
<body>
<div class="">
		<div class="">
			<form action='choixquest' method="post">
				<div>
					<a class="" th:href="@{/questmodul}" >Quel parcours m'est conseillé en fonction des modules qui me plaisent et des métiers qui m'intéressent</a>
				</div>
				<div>
					<a class="" th:href="@{/questprereq}" >Je veux savoir les prérequis qu'il me faut pour le parcours qui m'intéresse</a>
				</div>

			</form>

		</div>


	</div>
</body>
</html>