<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title>Choix du questionnaire</title>
</head>
<body>

	<header th:if="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <p th:if="${session.isAdmin}" class="isAdmin">Page Administrateur</p>
	        <div class="header_span" th:text="${session.username}" ></div>
	        <a class="header_button" th:href="@{/logOut}">Deconnexion</a>
		</div>
	</header>
	
	<header th:unless="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <a class="header_button" th:href="@{/login}" >Connexion</a>
	    </div>
	</header>
	

	<h1> <u> Choix des Questionnaires </u> </h1>
	
	
	<div class="widthh">
		<div class="choix_questionnaire">
			<a th:href="@{/questmodul}" >Quel parcours m'est conseill&eacute; en fonction des modules qui me plaisent et des m&eacute;tiers qui m'int&eacute;ressent</a> 
			</div>
		<div class="choix_questionnaire2">
			<a th:href="@{/questprereq}" >Je veux savoir les pr&eacute;requis qu'il me faut pour le parcours qui m'int&eacute;resse</a>
		</div>
	</div>
	
	<footer>
	    <div class="widthh">
	        <a href="https://www.isep.fr"> www.isep.fr</a>
	        <p class="txt_footer">28 rue Notre-Dame des Champs - 75006 Paris</br> 10, rue de Vanves. 92139 Issy-les -Moulineaux</br>Standard: +33 49 54 52 00 6Informations : +33 (0)1 49 54 52 43 -info@isep.fr</p>
	    </div>
	</footer>

</body>
</html>