<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Choix du questionnaire</title>
</head>
<body>
<div class="">
		<div class="">
			<form action='choixquest' method="post">
				<div>
					<input type="submit" value="Quel parcours m'est conseillé en fonction des modules qui me plaisent et des métiers qui m'intéressent" 
					id="questmodul"name="questmodul"  class="">
				</div>
				<div>
					<input type="submit" value="Je veux savoir les prérequis qu'il me faut pour le parcours qui m'intéresse"
					 id="questprereq" name="questprereq" class="">

				</div>

			</form>

		</div>


	</div>
</body>
</html>