<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<title>Accueil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>

	<header th:if="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <p th:if="${session.isAdmin}" class="isAdmin">Page Administrateur</p>
	        <div class="header_co">
		        <div class="deco_name">
			        <a class="header_button_logout" th:href="@{/logOut}">Deconnexion</a>
			        <p class="header_span" th:text="${session.username}" ></p>
		        </div>
		 
		        <div class="compte">
		        	<div th:if="${session.isAdmin}">
		        		<a th:href="@{/AccueilAdmin}">mon compte</a>
		        	</div>
		        	<div th:unless="${session.isAdmin}">
		        		<a th:href="@{/choixquestionnaire}">mon compte</a>
		        	</div>
		        </div>
	        </div>
		</div>
	</header>
	
	<header th:unless="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <img class="logo" width="150px" height="auto" th:src="@{images/isep.png}">
	        <a class="header_button" th:href="@{/login}">Connexion</a>
	    </div>
	</header>

    <div class="widthh">
   		<h1><u>Page d'Accueil</u></h1>
        <div>
            <div class="acc_gauche">
            </div>
            <div class="acc_droite">
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="div_form">
            <p class="question">Quels sont les métiers qui vous intéressent?</p>
            <form method="POST" class="form_metier" >
                <select onchange="this.form.submit()" name="metier" class="metier_sel">
                   <option th:text="${metier_preselect}"></option>
                   <option th:each="job : ${messages}"th:value="${job[1]}" th:text="${job[0]}"></option>
                </select>

<!-- 	<input id="metier" type="text" name="metier" placeholder="Nom de metier" class="metier_sel"> -->
            </form>
        </div>
        <div class="par1">
            <div class="acc_gau">
                <h3>Métier</h3>
                <p class="par1_txt">ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labo</p>
            </div>
            <div class="acc_dro">
                <p class="parcours" th:each="major : ${majors}" th:text="${major}"></p>
            </div>
        </div>
    </div>
    
    		        		<button th:href="@{/reponsequestmodul}">mon compte</button>

<footer>
    <div class="widthh">
        <a href="https://www.isep.fr"> www.isep.fr</a>
        <p class="txt_footer">28 rue Notre-Dame des Champs - 75006 Paris</br> 10, rue de Vanves. 92139 Issy-les -Moulineaux</br>Standard: +33 49 54 52 00 6Informations : +33 (0)1 49 54 52 43 -info@isep.fr</p>
    </div>
</footer>
</body>
</html>


