<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
		<div class="form-group form">
			<form action='login' method="post">
				<div>
					<label> USERNAME :</label> <input type="text" id="userId"
						name="userId" placeholder="user name" class="form-control">
				</div>
				<div>
					<label> PASSWORD :</label> <input type="password" id="password"
						name="password" placeholder="password" class="form-control">

				</div>
				<button id="loginButton" class="form-control">Login</button>


			</form>

		</div>


	</div>
</body>
</html>