<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title>Connexion</title>
</head>
<body>

	<header>
	    <div class="widthh" th:fragment="head">
	        <a class="logo" th:href="@{/}" ><img  width="150px" height="auto" th:src="@{images/isep.png}"></a>
		</div>
	</header>
	
	<div class="widthh">

		<h1><u>Page de Connexion</u></h1>
		<div class="form_co">
			<form class="connexion" action='login' method="post">
				<div class="div_form">
					<label> USERNAME :</label> <input type="text" id="userId"
						name="userId" placeholder="user name" class="form-control">
				</div>
				<div class="div_form">
					<label> PASSWORD :</label> <input type="password" id="password"
						name="password" placeholder="password" class="form-control">

				</div>
				<button id="loginButton">Login</button>


			</form>

		</div>


	</div>
<footer>
    <div class="widthh">
        <a href="https://www.isep.fr"> www.isep.fr</a>
        <p class="txt_footer">28 rue Notre-Dame des Champs - 75006 Paris</br> 10, rue de Vanves. 92139 Issy-les -Moulineaux</br>Standard: +33 49 54 52 00 6Informations : +33 (0)1 49 54 52 43 -info@isep.fr</p>
    </div>
</footer>
</body>
</html>