<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title>Modifier Module</title>
</head>
<body>

	<header th:if="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <p th:if="${session.isAdmin}" class="isAdmin">Page Administrateur</p>
	        <div class="header_span" th:text="${session.username}" ></div>
		</div>
	</header>
	
	<header th:unless="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <a class="header_button" th:href="@{/login}" >Connexion</a>
	    </div>
	</header>

	<p th:text="${module.getName()}" />
	<div th:each="concept : ${conceptsBelong}"
		th:text="${concept.getName()}"></div>

	<form action="modifyModule3" method="post">
		<input th:each="conceptA : ${conceptsBelong}" th:text="${conceptA.getName()}" type="checkbox" th:value="${conceptA.getID()}" name="toDelete" />
		
		
		
		<input type="hidden" th:value="${module.getID()}" name="moduleSelected" />
		
		<input type="submit" value="Supprimer" />
	</form>



	<p>Liste des concepts qui ne sont pas rattachés au module</p>
	<form action="modifyModule2" method="post">
		
		<div th:each="conceptNB : ${conceptsNotBelong}">
			<input  th:text="${conceptNB.getName()}" type="checkbox" th:value="${conceptNB.getID()}" name="toModify" />
			<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" name="nivAtt" step="1"> 
		</div>
		
		
		
		
		<input type="hidden" th:value="${module.getID()}" name="moduleSelected" /> 
		
		<input type="submit" value="Ajouter" />
	</form>
</body>
</html>