<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

			<form class="" action='reponsequestmodul' method="post">
				<div class="">
					<p> Est-ce que ces modules vous intéresse ?</p> </br>
					<label>Module 1</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 2</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 3</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 4</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 5</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 6</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 7</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 8</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 9</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 10</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 11</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 12</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 13</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 14</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 15</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 16</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 17</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 18</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 19</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
					
					<label>Module 20</label> 
					<input type="radio" name="choixmodule"value="oui" id="choixmoduleoui">
					<input type="radio" name="choixmodule"value="non" id="choixmodulenon">
					<input type="radio" name="choixmodule"value="ne sais pas" id="choixmodulensp">
				</div>
				<button id="questmoduleButton">Envoyer</button>


			</form>


</body>
</html>