<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Questionnaire Prérequis</title>
</head>
<body>
		<form class="" action='reponsequestmodul' method="post">
				
				<div class="" th:each="concept : ${concepts}">	
					<p> Quel est votre niveaux dans les prérequis suivants ? </p></br>
						<label th:text="${concept.getName()}"></label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">
									
									
				
				</div>
				
			<button id="questprereqButton">Envoyer</button>

		</form>
</body>
</html>