<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire Prérequis</title>
</head>
<body>
		<form class="" action='reponsequestmodul' method="post">
				
				<div class="">	
						<label>Prérequis 1</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">
									
						<label>Prérequis 2</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				
						<label>Prérequis 3</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				       	
				       	<label>Prérequis 4</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				 		
				 		<label>Prérequis 5</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				
						<label>Prérequis 6</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1"> 				
				 		
				 		<label>Prérequis 7</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 8</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 9</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 10</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 11</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">
									
						<label>Prérequis 12</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				
						<label>Prérequis 13</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				       	
				       	<label>Prérequis 14</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				 		
				 		<label>Prérequis 15</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				
						<label>Prérequis 16</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				 		
				 		<label>Prérequis 17</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 18</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 19</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
						
						<label>Prérequis 20</label> 
									<input type="range" min="1" max="5" value="3" class="slider" id="NiveauPrérequis" step="1">				
				
				</div>
				
			<button id="questprereqButton">Envoyer</button>

		</form>
</body>
</html>