<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<title>Resultat module</title>
</head>
<body>

	<header th:if="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <p th:if="${session.isAdmin}" class="isAdmin">Page Administrateur</p>
	        <a class="header_button_logout" th:href="@{/logOut}">Deconnexion</a>
	        <div class="header_span" th:text="${session.username}" ></div>
		</div>
	</header>
	
	<header th:unless="${session.islogged}">
	    <div class="widthh" th:fragment="head">
	        <a th:href="@{/}" class="logo"  ><img width="150px" height="auto" th:src="@{images/isep.png}"></a>
	        <a class="header_button" th:href="@{/login}" >Connexion</a>
	    </div>
	</header>
	
	<div class="widthh">
		<div th:each="result:${results}">
			<p th:text="${result.getMajor().getName()}"> Nom du parcour</p>
			<p th:text="${result.getScore()}"> Score</p>
			<p th:each="moduleVNO:${result.getModulesVoulusNonOptionel()}" th:text="${moduleVNO.getName()}"> Module voulus non optionel</p>
			<p th:each="moduleNVNO:${result.getModulesNonVoulusNonOptionel()}" th:text="${moduleNVNO.getName()}"> Module non voulus non optionel</p>
		</div>
	</div>
	
	<footer>
	    <div class="widthh">
	        <a href="https://www.isep.fr"> www.isep.fr</a>
	        <p class="txt_footer">28 rue Notre-Dame des Champs - 75006 Paris</br> 10, rue de Vanves. 92139 Issy-les -Moulineaux</br>Standard: +33 49 54 52 00 6Informations : +33 (0)1 49 54 52 43 -info@isep.fr</p>
	    </div>
	</footer>
</body>
</html>